<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <img src="software.jpg" alt="Software Video Edition" class="card-img-top">
            <div class="card-body">
                <h2>
                    $ 30 dls
                </h2>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis, itaque earum. Ipsum autem nesciunt quos, accusantium est, eveniet sint corporis consequuntur quis doloremque labore nihil aperiam expedita sunt maiores cum!
                </p>
            </div>
            <div class="card-footer">
                <form action="/checkout" method="POST">
                    <script src="http://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_ZjDDQv1oWDfXgZfGQOaWjF7j006Zq7ULvs" 
                        data-amount="3000"
                        data-name="Software Store"
                        data-description="Software Video Editing"
                        data-image="/faztcodelogo.png"
                        data-locale="auto">
                    </script>
                    <script>
                        document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
                    </script>
                    <button class="btn btn-dark btn-block">
                        Buy  <i class="fa fa-shopping-cart"></i>
                    </button>

                </form>

            </div>
        </div>
    </div>

</div>